lib/*.pyc
lib/__pycache__
lib/.DS_Store
data/
.DS_Store
anim/
animation.gif
*.gif
*.png
*.fits
*_obs.txt
*_planet.txt
*_star.txt
__pycache__/
lib/SPECTRUM/*.o
lib/SPECTRUM/*.dat
temp
.vscode
.ipynb_checkpoints
lib/.ipynb_checkpoints
lib/SPECTRUM/.ipynb_checkpoints
*.npy
syntherr.log